{% extends 'base.html' %}
{% load static %}

{% block title %}Student{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block content %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3 coladj">
        <div class="jumbotron jumbo1">
            <div class="container">
                <h3 style="text-align: center;" id="stuinfo1">Add New Student</h3>
                
                    
            </div>   
        </div>

        
        <form action="" method="POST">
            {% csrf_token %}
            <p id="errmsg">{{msg}}</p>
            <!-- {{form.as_p}} -->
            {% for field in form %}
                {{ field.label_tag }} <br>
                {{ field }}
                <br><br>

            {% endfor %}
                      
            <button class="btn btn-md btn-primary">Submit</button>

            <a href="{% url 'index' %}" class="btn btn-primary">Return To Home</a>
        </form>

    </div>

    

    <div class="col-md-6">
        <div class="jumbotron jumbo2">
            <div class="container">
                <h3 id="stuinfo">Show Student Information</h3>
                 <p></p>   
            </div>   
        </div>
            <div class="container">
                    <table>
                        <tr>
                            <th><h4> ID </h4></th>
                            <th><h4> Name </h4></th>
                            <th><h4> Email </h4></th>
                            <th><h4> Action </h4></th>
                        </tr>

                        
                        {% for i in mobj %}
                            <tr>
                                <td>{{i.id}} </td>
                                <td>{{i.name}} </td>
                                <td>{{i.email}} </td>
                                <td><a class="btn btn-sm btn-warning" href="{% url 'update' i.id %}">Edit </a> <a class="btn btn-sm btn-danger" href="{% url 'delete' i.id %}">Delete</a></td>
                            </tr>
                            
                        {% endfor %}
                    </table>
            </div>   
        
    </div>
   

</div>






{% endblock content %}